<div class="container">
    <div class="form-left">
        <div class="logo">
            <img src="assets/logo.png" alt="logo">
        </div>
        <div class="menu-list">
            <mat-nav-list>
                <mat-list-item>
                    <mat-icon>book</mat-icon> Sách
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>person</mat-icon> Người dùng
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>receipt</mat-icon> Hoá đơn
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>card_giftcard</mat-icon> Voucher
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>people</mat-icon> Nhân viên
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>bar_chart</mat-icon> Thống kê doanh thu
                </mat-list-item>
                <mat-list-item>
                    <mat-icon>exit_to_app</mat-icon> Đăng xuất
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>

    <div class="form-right">
        <div class="title">
            QUẢN LÝ CỬA HÀNG
        </div>

        <div class="content">
            <div class="name-content">
                DANH SÁCH
            </div>
            <hr> 
            <div class="sreach-add">
                <input type="text" placeholder="Tìm kiếm...">
                    Tìm kiếm
                <button>
                    <mat-icon>add</mat-icon> Thêm
                </button>
            </div>

            <table class="info-table">
                <thead>
                    <tr>
                        <th></th> <!-- Ô chọn -->
                        <th>Tên sách</th>
                        <th>Số lượng</th>
                        <th>Tác giả</th>
                        <th>Xoá</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>