<header class="main-header" [ngClass]="{'header-no-zindex': isModalVisible}">
  <!-- Top Section -->
  <div class="header-top">
      <!-- Logo -->
      <div class="logo-container">
          <img src="assets/logo.png" alt="Logo" class="logo" routerLink="">
      </div>

      <!-- Search Bar -->
      <div class="search-container">
          <input type="text" [(ngModel)]="product.name" name="name"placeholder="Tìm kiếm..." class="search-input" (input)="loadpro(product.name)">
          <button class="search-btn">
              <mat-icon class="search-icon" >search</mat-icon>
          </button>
          <div class="dropdown" id="dropdown">
              <div class="cartegory-right-bottom-item" *ngFor="let product of filteredProducts" (click)="navigateToProduct(product.id)">
                  <div class="productIMG" >
                    <img [src]="getBookImage(product.id)">
                  </div>
                  <span class=" btn-outline-secondary" placement="bottom" ngbTooltip={{product.title}}>{{ product.title }}</span>
                </div>
          </div>
      </div>
      <!-- matBadge="15" matBadgeColor="warn" -->
      <!-- Action Buttons -->
      <div class="actions-container">
          <button class="action-item">
              <mat-icon>notifications</mat-icon>
              <span>Thông báo</span>
          </button>
          <button class="action-item" routerLink="/cart">
              <mat-icon>shopping_cart</mat-icon>
              <span>Giỏ Hàng</span>
          </button>
          <!-- routerLink="/user" -->
          <button class="action-item" (click)="isModalVisible = true">
              <mat-icon>account_circle</mat-icon>
              <span>Tài Khoản</span>
          </button>
          <app-modal *ngIf="isModalVisible" (closeModalEvent)="isModalVisible = false"></app-modal>

      </div>
  </div>
  <!-- Navigation Bar -->
  <nav class="nav-bar">
      <button class="nav-item" routerLink="">TRANG CHỦ</button>

      <button class="nav-item" mat-button [matMenuTriggerFor]="theloai">THỂ LOẠI</button>
      <mat-menu #theloai="matMenu" yPosition="above">
          <button mat-menu-item *ngFor="let category of categories" (click)="navigateToCategory(category.id)">
              {{category.name}}
          </button>
      </mat-menu>
      <button class="nav-item" mat-button [matMenuTriggerFor]="tacgia">TÁC GIẢ</button>
      <mat-menu #tacgia="matMenu" yPosition="below">
          <button mat-menu-item routerLink="">Tác giả</button>
          <button mat-menu-item routerLink="">Nhiều tác giả</button>
      </mat-menu>
      <button class="nav-item" routerLink="">SẢN PHẨM BÁN CHẠY</button>
      <button class="nav-item" routerLink="">CHƯƠNG TRÌNH GIẢM GIÁ</button>
      <button class="nav-item" routerLink="">THÔNG TIN</button>
  </nav>
  <!-- Dropdown Search -->
</header>
<!-- Content -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footer-bottom"  >
      <div class="contact-info">
          <h3>LIÊN HỆ</h3>
          <p>
            <mat-icon class="mat-icon-map" (click)="openMapModal()">location_on</mat-icon>
            578 Đ. Nguyễn Duy, Phường 10, Quận 8, Thành phố Hồ Chí Minh
        </p>

        <app-map *ngIf="isMapModalVisible" (closeModalEvent)="isMapModalVisible = false"></app-map>
        <!-- <span class="bold-text">Số điện thoại liên hệ:</span> -->
        <p>
            <mat-icon class="mat-icon"> phone</mat-icon>
            0930 232 555
        </p>
        <!-- <span class="bold-text">Mail:</span> -->
        <p>
            <mat-icon>mail</mat-icon>
            kanncskh@gmail.com
        </p>            <div class="social-icons">
              <button class="icon-btn"><img src="assets/footer/fb-icon.png" alt="Facebook Icon"></button>
              <button class="icon-btn"><img src="assets/footer/ig-icon.png" alt="Instagram Icon"></button>
              <button class="icon-btn"><img src="assets/footer/yt-icon.png" alt="YouTube Icon"></button>
              <button class="icon-btn"><img src="assets/footer/tbl-icon.png" alt="Tumblr Icon"></button>
              <button class="icon-btn"><img src="assets/footer/t-icon.png" alt="Twitter Icon"></button>
              <button class="icon-btn"><img src="assets/footer/pr-icon.png" alt="Pinterest Icon"></button>
          </div>
      </div>

      <div class="footer-left">
          <div class="footer-logo">
              <img src="assets/logo.png" alt="Logo" class="logo">
          </div>
          <!-- Signup Text -->
          <p class="italic-text">Đăng ký nhận bảng tin từ KANN book store</p>
          <!-- Email Input -->
          <div class="email-input">
              <input type="email" placeholder="Nhập mail của bạn...">
          </div>
      </div>
      <div class="footer-right">
          <img src="assets/footer/logopay.png" alt="Logo Bay" class="pay-logo">
      </div>
  </div>
</footer>
