<app-header></app-header>

<div class="main-cart">
    <div class="left-cart">
        <div class="highlighted-products-section">
            <mat-card class="highlighted-title-card">
                <mat-card-content style="font-size: 18px; color: #FFF;">THÔNG TIN SẢN PHẨM</mat-card-content>
            </mat-card>
        <div class="table-1">
            <table>
                <tr>
                    <th>
                        <mat-checkbox></mat-checkbox>
                    </th>
                    <th>
                        Chọn tất cả sản phẩm
                    </th>
                    <th>
                        Tên sách
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th>
                        Xoá
                    </th>
                </tr>

                <tr>
                    <td>
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td>
                        <img src="assets/product-detail/productimg.jpg" alt="">
                    </td>
                    <td>
                        ung thư không chết
                    </td>
                    <td>
                        <div class="quantity">
                            <input type="number" min="0" value="1">
                        </div>
                    </td>
                    <td>
                        88.000 <sup>đ</sup>
                    </td>
                    <td>
                        <button class="btn-trash">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td>
                        <img src="assets/product-detail/productimg.jpg" alt="">
                    </td>
                    <td>
                        ung thư không chết
                    </td>
                    <td>
                        <div class="quantity">
                            <input type="number" min="0" value="1">
                        </div>
                    </td>
                    <td>
                        88.000 <sup>đ</sup>
                    </td>
                    <td>
                        <button class="btn-trash">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <mat-checkbox></mat-checkbox>
                    </td>
                    <td>
                        <img src="assets/product-detail/productimg.jpg" alt="">
                    </td>
                    <td>
                        ung thư không chết
                    </td>
                    <td>
                        <div class="quantity">
                            <input type="number" min="0" value="1">
                        </div>
                    </td>
                    <td>
                        88.000 <sup>đ</sup>
                    </td>
                    <td>
                        <button class="btn-trash">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>

            </table>
        </div>  
        </div>
    </div>

    <div class="right-cart">
        <div class="top-right-cart">
            <div class="highlighted-products-section-2">
                <mat-card class="highlighted-title-card">
                    <mat-card-content style="font-size: 18px; color: #FFF;">MÃ GIẢM GIÁ</mat-card-content>
                </mat-card>
                <div class="input-wrapper">
                    <mat-form-field>
                        <input matInput placeholder="Nhập mã tại đây">
                    </mat-form-field>
                    <button class="btn-trash">
                        <mat-icon>check</mat-icon>
                    </button>
                </div>
            </div>    
        </div>

        <div class="mid-right-cart">
            <div class="highlighted-products-section">
                <mat-card class="highlighted-title-card">
                    <mat-card-content style="font-size: 18px; color: #FFF;">THÀNH TIỀN</mat-card-content>
                </mat-card>
                <div class="table-2">
                <tbody >
                        <tr>
                            <td>Số lượng sản phẩm:</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền hàng:</td>
                            <td><span>88.000 <sup>đ</sup></span></td>
                        </tr>
                        <tr>
                            <td>Tạm tính:</td>
                            <td><span>166.000<sup>đ</sup></span></td>
                        </tr>
                        <tr>
                            <td>Mã giảm giá:</td>
                            <td><span>-10.000<sup>đ</sup></span></td>
                        </tr>
                        <tr>
                            <th>Tổng số tiền:</th>
                            <th><span>156.000<sup>đ</sup></span></th>
                        </tr>
                    </tbody>   
                </div> 
            </div>
        </div>
        <!-- <div class="button-wrapper"> -->
            <div class="product-right-button">
                <button mat-raised-button>TIẾP TỤC MUA SẮM</button>
                <button mat-raised-button>THANH TOÁN</button>
            </div>
        <!-- </div> -->
    </div>
</div>
<app-footer></app-footer>